// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "meetOur-team";
@import "welcome_layout";
@import "footer";
@import "nav";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//include fontawesome 5.1
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

body {
  padding-top: 3.5rem;
}

a {
  color: black;
  text-decoration: none !important;
}

.btn-primary {
    color: black;
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #211a14;
    border-color: #191410;
}

a:hover{
    // color:#FE5006 !important;
    text-decoration: none !important;
}


.list-inline-item:not(:last-child) {
    margin-right: 0rem;
}

.navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
}
.btn {
  // background-color: white;
  // border-radius: 0px;
}

.bg-dark {
    background-color: #392d23 !important;
}
.bg-light-dark {
    background-color: #aa8f76 !important;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.jumbotron {
  border-radius:0rem;
  padding-bottom: 2rem;
  background-color: #fff;
}
